.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid white;
  z-index: 999;
  font-family: "Onest", sans-serif;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.header .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.header .header__nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .header__nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.header .header__nav ul li a:hover {
  color: #ff6600;
}

@media (max-width: 1024px) {
  .header .header__nav {
    display: none;
  }
}

.header .header__right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .lang-switch {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #000;
}

.header .lang-switch .icon {
  margin-right: 5px;
}

.brief-btn {
  font-size: small;
    background-image: url(../../../public/images/blog-filter-bg.jpg);
  border-radius: 20px;
  background-size: cover;
background-position: center;
font-weight: 700;
}

.header .burger {
  font-size: 22px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  display: none;
}

@media (max-width: 1024px) {
  .header .burger {
    display: block;
  }
}

.header .mobile-menu {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 20px;
}

.header .mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header .mobile-menu ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.header .mobile-menu ul li a:hover {
  color: #ff6600;
}