.about-me {
  padding: 100px 0;
  position: relative;
}

.about-me .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-me__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 24px;
}

.about-me__grid .photo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 0 !important;
}

.about-me__grid .about-text {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.about-me__grid .contact {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.about-me__grid .education {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.about-me__grid .skills {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.about-me__grid .review {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.contact p {
  margin: 10px 0;
}

.about-me .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 10px solid #ffffff3a;
  border-radius: 25px;
  padding: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
}

.about-me .card.photo img {
  width: 100%;
  border-radius: 20px;
  display: block;
  height: 100%;
}

.design-portfolio-btn {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.design-portfolio-btn .glass-btn {
  width: 100%;
}

.about-me .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.about-me .tags span {
  background: #eee;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 14px;
}

/* Tablet */
@media (max-width: 1024px) {
  .about-me__grid {
    grid-template-columns: 1fr;
  }

  .about-me__grid .photo,
  .about-me__grid .contact,
  .about-me__grid .about-text,
  .about-me__grid .education,
  .about-me__grid .skills {
    grid-column: auto;
    grid-row: auto;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .about-me__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-me__grid .photo {
    order: 1;
    padding: 0;
  }

  .about-me__grid .contact {
    order: 2;
  }

  .about-me__grid .about-text {
    order: 3;
  }

  .about-me__grid .education {
    order: 4;
  }

  .about-me__grid .skills {
    order: 5;
  }

  .about-me__grid .review {
    order: 6;
  }
}
