/* 1. Сброс стилей и нормализация */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background: rgba(199, 255, 58, 0.506); /* твой оливково-зелёный */
  color: #000;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/images/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* 2. Базовые переменные (цвета, отступы) */
:root {
  --font-main: 'Onest', sans-serif;

  --color-black: #000;
  --color-white: #F6F6F6;
  --color-green: #0e2e08;
  --color-green-dark: rgb(27, 27, 27)
  --color-text: #222;
  --color-muted: #777;
  --container-width: 1300px;
  --radius: 20px;

    /* время/кривая для всех ховеров на сайте */
  --anim--hover-time: .25s;
  --anim--hover-ease: cubic-bezier(.2,.8,.2,1);

  /* если используешь углы/градиенты */
  --angle-1: 135deg;
}

/* 3. Базовые теги */
body {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

ul,
ol {
  list-style: none;
  font-weight: 300;
}

button {
  font: inherit;
  cursor: pointer;
  background: var(--color-green);
  border: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* 4. Контейнер */
.container {
  width: 100%;
  max-width: var(--container-width);
  padding: 0 20px;
  margin: 0 auto;
}

/* 5. Тексты и заголовки */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: var(--color-black);
}

p {
  margin-bottom: 1em;
  font-weight: 300;
  color: var(--color-text);
}