@font-face {
  font-family: "Soyuz Grotesk";
  src: url("/fonts/subset-SoyuzGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* 1. Сброс стилей и нормализация */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background: rgba(199, 255, 58, 0.506); /* твой оливково-зелёный */
  color: #000;
}
html,
body {
  /* height: 100%; */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/images/fon.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
}

/* 2. Базовые переменные (цвета, отступы) */
:root {
  --font-main: "Onest", sans-serif;
  --color-black: #000;
  --color-white: #f6f6f6;
  --color-green: #0e2e08;
  --color-green-dark: rgb(27, 27, 27) --color-text: #222;
  --color-muted: #777;
  --container-width: 1300px;
  --radius: 20px;

  /* время/кривая для всех ховеров на сайте */
  --anim--hover-time: 0.25s;
  --anim--hover-ease: cubic-bezier(0.2, 0.8, 0.2, 1);

  /* если используешь углы/градиенты */
  --angle-1: 135deg;

    /* запас сверху для статус-бара/выреза */
  --safe-top: env(safe-area-inset-top, 0px);
}

/* если у тебя хедер fixed */
.header{
  padding-top: var(--safe-top);
}

/* если первый экран (hero) должен начинаться ниже */
.hero,
.page-first-screen{
  padding-top: calc(16px + var(--safe-top));
}

/* 3. Базовые теги */
body {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

ul,
ol {
  list-style: none;
  font-weight: 300;
}

button {
  font: inherit;
  cursor: pointer;
  background: var(--color-green);
  border: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* 4. Контейнер */
.container {
  width: 100%;
  max-width: var(--container-width);
  padding: 0 20px;
  margin: 0 auto;
}

/* 5. Тексты и заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: var(--color-black);
  font-family: "Soyuz Grotesk";
  letter-spacing: -0.02em;
  
}

p {
  margin-bottom: 1em;
  font-weight: 300;
  color: var(--color-text);
}


h1,
h2 {
  font-family: "Soyuz Grotesk";
  font-style: normal;
  font-weight: 700;

  
  line-height: 0.83;

  
  color: #000;

  text-shadow:
    -14.3808px 0px 4.16286px rgba(0, 0, 0, 0.01),
    -9.0826px  0px 3.78442px rgba(0, 0, 0, 0.05),
    -5.29818px 0px 3.02753px rgba(0, 0, 0, 0.17),
    -2.27065px 0px 2.27065px rgba(0, 0, 0, 0.29),
    -0.756883px 0px 1.13533px rgba(0, 0, 0, 0.33);
}
