.hero {
  padding: 200px 0 100px;
  height: fit-content;
}

.hero .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.hero__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.hero__left {
  flex: 1 1 600px;
}

.hero__left h1 {
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1d1d1d;
  background: linear-gradient(180deg, #474747 20%, #1d1d1d 70%, #000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  text-shadow:0 2px 2px rgba(43, 43, 43, 0.1),
    0 1px 4px rgba(0, 0, 0, 0.1);
    
}

.hero__left p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.hero__left p strong {
  font-weight: 700;
}

.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
}

.btn {
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn--primary {
  background-image: url(../../../public/images/blog-filter-bg.jpg);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.btn--secondary {
  border-radius: 20px;
}

.hero__right {
  flex: 1 1 500px;
}

.hero__video-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
  background: #f9f9f9;
  border-radius: 20px;
  border: 7px solid #e3e3e368;
  overflow: hidden;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2);
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    padding: 200px 0 50px;
    
  }
  .hero__content {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .hero__left,
  .hero__right {
    flex: 1 1 auto;
    width: 100%;
  }

  .hero__video-wrapper {
    width: 100%;
  }

  .hero__left h1 {
    font-size: 34px;
    text-align: center;
  }
  .hero__buttons{
    justify-content: center;
  }
  .btn {
    font-size: smaller;
    
  }
}

/* Бонус: защита от горизонтального скролла */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
