.steps {
  padding: 80px 0;
  background: #f9f9f9;
  height: 100vh;
}

.steps .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.steps__title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}

.steps__subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 48px;
}

.steps__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;

}

@media (max-width: 1024px) {
  .steps__content {
    flex-direction: column;
    gap: 24px;
  }
}

.steps__left {
  flex: .6;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.steps__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__right img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1025px) {
  .step-card__body img {
    display: none;
  }
}

@media (max-width: 1024px) {
  .steps__right {
    display: none;
  }

  .step-card__body img {
    height: 400px;
    padding: 10px 0;
    width: 100%;
  }
}

.step-card {
  background: #f9f9f9;
  border-radius: 20px;
  padding: 20px 24px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  border: 1px solid rgba(232, 232, 232, 0.8);
}

.step-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-card__number {
  font-weight: 400;
  font-size: 14px;
  background: transparent;
  border: 1px solid rgba(232, 232, 232, 0.8);
  border-radius: 13px;
  padding: 4px 10px;
  margin-right: 12px;
}

.step-card__title {
  font-weight: 500;
  font-size: 16px;
  flex-grow: 1;
}

.step-card__toggle {
  font-size: 20px;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.step-card__body {
  margin-top: 12px;
}

.step-card__body p {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
}

.step-card__btn {
  background-image: url(../../../public/images/blog-filter-bg.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}
.step-card.active {
  border: 8px solid #efefef;
  background-color: #fff;
}

.step-card.active .step-card__toggle {
  transform: rotate(180deg);
}

.buttprog {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.step-card__progress {
  height: 10px;
  width: 40px;
  background: #e9e9e9;
  border-radius: 999px;
  overflow: hidden;
}
.step-card__bar {
  height: 100%;
  background: #005128;
  transform-origin: left center;
  transform: scaleX(0);
  animation: step-fill var(--dur) linear forwards;
}
.step-card__bar.paused {
  animation-play-state: paused;
}
@keyframes step-fill {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
