.brief-cta {
  background: url('../../../public/images/cta-bg.png') center;
  border-radius: 60px 60px 0 0;
  margin-top: 60px;
  padding: 200px 40px;
  text-align: center;
  color: #000;
  position: relative;

}

.brief-cta__overlay {

  padding: 40px;
  border-radius: 24px;
  display: inline-block;
}

.brief-cta h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.brief-cta__btn {
  
  font-weight: 500;
  border-radius: 8px;
}